{% extends "base.html" %}

{% block main %}

<div class="card">
  <div class="card-header">
    О проекте
  </div>
  <div class="card-body">
    <p class="card-text">
        <strong>Name:</strong>Простой проект реалтзованный на flask<br/>
        <strong>Surname:</strong>Удобный и легкий в использовании, сможет осилить каждый<br/>
        <strong>Age:</strong>Выбор пал именно на эту тему, так как не было мыслей<br/>
        <strong>Specialization:</strong>Можно удалять как пользователя так и его заявки<br/>
        <strong>About me:</strong>Добавлять и изменять их<br/>
    </p>
  </div>

</div>


{%endblock%}