<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>TINYSTEPS</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark sticky-top">
		<div class="container">
			<a class="navbar-brand" href="/">Tutors</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Все объявления</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Доступные обЪявления</a>
					</li>
					{% if current_user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/profile">Профиль</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					{% if current_user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/logout">Выйти</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/register">Зарегистрироваться</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Войти</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>


    <main role="main" class="container">
    {% block main %}{% endblock %}
</main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
	</script>
</body>
</html>